.image {
  width: 500px;
  height: 275px;
}
.btn {
  padding: 50 px;
  /* width: 50px;
    height: 50px; */
  transition: color 2s;
  cursor: pointer;
  font-size: 100px;
  size: 100px;

  /* transition: width 2.5s;
    transition: background-color 1s; */
}
/* #myBtnR {
    font-size: 100px;
    cursor: pointer;
    color: aquamarine;
    transition: font-size 0.5s;
  }
  #myBtn:hover {
    font-size: 500x;
  } */

.btn:hover {
  transition: color 3.25s;
  color: rgba(255, 166, 0, 0.089);
}
