/* //hay un Flickeo en las transiciones*/

#myBtnR {
  left: 950px;
  top: 0px;
}
#myBtnL {
  left: 0px;
  top: 0px;
}

#img-left {
  z-index: 2;
}
#img-right {
  z-index: 2;
}
.image {
  width: 1000px;
  height: 500px;
  z-index: 1;
}

.root {
  /* width: 1000px;
  height: 500px; */
  /* margin: auto;
  display: flex; */
  justify-content: center;
  align-items: center;

  /* flex-direction: column; */
  /* justify-content: space-evenly; */
}
.btn-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  /* z-index: 100; */
  position: absolute;
  font-size: 100px;
  background-color: rgba(88, 88, 88, 0.35);

  transition: color 2s;
  cursor: pointer;
  user-select: none;
}

.btn-carousel:hover {
  transition: color 1.25s background-color 1.25s;
  background-color: rgba(255, 250, 250, 0.726);
}
.carousel-container {
  transform: translate(-1000px);
  display: flex;
}
.carousel-wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 500px;
}
.to-left {
  animation: imgtoleft 2s;
}
.to-right {
  animation: imgtoright 2s;
}

/* esto se puede vovler parametrico ? */
@keyframes imgtoright {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(1000px);
  } /* opacity: 100;
  }
  100% {
    opacity: 0;
  } */
}

@keyframes imgtoleft {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-1000px);
  }
}
