#myBtnR {
  left: 450px;
  top: 0px;
}
#myBtnL {
  left: 0px;
  top: 0px;
}

.image {
  width: 500px;
  height: 275px;
}

.btn-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 275px;
  /* z-index: 100; */
  position: absolute;
  font-size: 100px;
  background-color: rgba(88, 88, 88, 0.082);

  transition: color 2s;
  cursor: pointer;
  user-select: none;
}

.btn-carousel:hover {
  transition: color 1.25s background-color 1.25s;
  background-color: rgba(255, 250, 250, 0.726);
}
.carousel-container {
  transform: translate(-500px);
  display: flex;
}
.carousel-wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 275px;
}
.to-left {
  animation: imgtoleft 2s;
}
.to-right {
  animation: imgtoright 2s;
}

/* esto se puede vovler parametrico ? */
@keyframes imgtoright {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(500px);
  }
}

@keyframes imgtoleft {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-500px);
  }
}
